@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  --bg: #F3FFF0;
  --fg: #1E221B;
}

html {
  background: var(--bg);
  color: var(--fg);
  font-family: 'Roboto Slab', serif;
}

body {
  max-width: 80ex;
  padding: 1ex;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  text-align: center;
}

footer {
  margin-bottom: 2em;
}

.list {
  padding: 1ex;
  border: 1px solid gray;
}

@media (max-width: 720px) {
  header {
    flex-direction: column;
  }
}

main img {
	width: 100%;
}
